<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
    	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

  	<aop:aspectj-autoproxy />
  
  	<!-- <bean id="loggingAspect" class="com.fasoo.scdrm.aspect.LoggingAspect"/> -->
  
  	<!-- enable autowire -->
  	<context:annotation-config />
    
  	<context:component-scan base-package="kr.co.rudaks" />
    
  	<!-- <tx:annotation-driven /> -->
  	<tx:annotation-driven transaction-manager="wpTransactionManager"/>
  	<tx:annotation-driven transaction-manager="transactionManager"/>
    
  	<mvc:annotation-driven />
	
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" />
	
	<bean id="placeHolder" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <value>classpath:jdbc.properties</value>
        </property>
    </bean>
    
    <!-- <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource" >
		<property name="basenames">
	        <list>
	            <value>/WEB-INF/messages/message</value>
	        </list>
	    </property>
	    <property name="defaultEncoding" value="UTF-8" />
		<property name="cacheSeconds">
			<value>60</value>
		</property>
	</bean> -->
	
	<!-- <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" >
		<property name="maxUploadSize" value="5120000"/> 5M
	</bean> -->

    <bean id="dataSource" class="org.apache.ibatis.datasource.pooled.PooledDataSource">
      <property name="driver" value="${jdbc.driver}" />
      <property name="url" value="${jdbc.url}" />
      <property name="username" value="${jdbc.username}" />
      <property name="password" value="${jdbc.password}" />
      <property name="poolPingQuery" value="select 1"/>
      <property name="poolPingEnabled" value="true"/>
      <property name="poolPingConnectionsNotUsedFor" value="7200000"/>
    </bean>
    
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="typeAliasesPackage" value="kr.co.rudaks.web" />
    </bean>
    
    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="kr.co.rudaks.web.mapper" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
    </bean>
         
	<!-- <mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/*" />
			<mvc:mapping path="/aboutus*/**" />
			<mvc:mapping path="/install*/**" />
			<mvc:mapping path="/member/**" />
			<mvc:mapping path="/manage*/**" />
			<mvc:mapping path="/support*/**" />
			<mvc:mapping path="/tour*/**" />
			<mvc:mapping path="/ajax/**" />
			<bean class="com.fasoo.scdrm.web.interceptor.HandlerInterceptor" />
		</mvc:interceptor>
		
		<mvc:interceptor>
			<mvc:mapping path="/forum*/**" />
			<bean class="com.fasoo.scdrm.web.interceptor.ForumHandlerInterceptor" />
		</mvc:interceptor>
		
	</mvc:interceptors> -->
	
	<mvc:view-controller path="/" view-name="home" />
	
</beans>
